/* Problem Tabs */
/* Style tab links */
.tablink {
  background-color: #8ea6c5;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 60px 20px;
  height: 100%;
}

#Problem {background-color: #d9e1ec;}
#Solution {background-color: #d9e1ec;}
